<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="false">

	<description>
      This is a Quartz Scheduler web application for Elasticsearch. You can use it to schedule your Quartz jobs for Elasticsearch queries.
    </description>

	<display-name>ESQuartzWeb</display-name>

	<listener>
		<listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
	</listener>

	<!-- http://roymercadian.blogspot.tw/2012/12/tomcatutf-8.html -->
	<!-- 設定所有 Request 的編碼為 UTF-8 -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- http://www.quartz-scheduler.org/documentation/quartz-2.x/cookbook/ServletInitScheduler.html -->
	<servlet>
		<servlet-name>QuartzInitializer</servlet-name>
		<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
		<init-param>
			<param-name>shutdown-on-unload</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>wait-on-shutdown</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>start-scheduler-on-load</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<resource-ref>
		<description>Connection Pool</description>
		<res-ref-name>jdbc/postgres</res-ref-name>
		<res-type>javax.sql.Datasource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
